dist/index.html
<!DOCTYPE html>
<html lang="en">
  <head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,400&amp;display=swap">
    <link rel="stylesheet" href="./css/main.css">
    <title>SAMPLE 02</title>
  </head>
  <body>
    <div class="container"> 
      <header> 
        <div class="wrapper"> 
          <div class="header-wrapper"><a class="trans header-logo" href="#"><img src="./img/logo.png" alt="tanatos-studio"></a>
            <div class="menu-wrapper">
              <p class="menu-label">Menu </p><a class="menu-bar" href="#"><img src="./img/nav_icon.png" alt="navbar-icon"></a>
            </div>
          </div>
        </div>
      </header>
      <main>
        <section class="section-banner">
          <div class="wrapper">
            <div class="banner-content"> 
              <h1 class="banner-title">We Design <span>Things</span></h1>
              <p class="banner-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, <br/>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
              <div class="banner-button"><a class="trans button-primary hire-button" href="#">Hire Us</a><a class="trans button-primary works-button" href="#">Our Works</a></div><a class="trans arrow-down-icon" href="#"> <img src="./img/cicle_arrow_down_icon.png" alt="arrow-down-icon"></a>
            </div>
          </div>
        </section>
        <section class="section-our-services">
          <div class="wrapper">
            <ul class="services-wrapper">
              <li> <img src="./img/print_icon.jpg" alt="print-icon"/>
                <h2 class="services-title">Print Design</h2>
                <p class="services-description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
              </li>
              <li> <img src="./img/computer_icon.png" alt="computer-icon"/>
                <h2 class="services-title">Web Design</h2>
                <p class="services-description">Incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
              </li>
              <li> <img src="./img/tablet_icon.png" alt="tablet-icon"/>
                <h2 class="services-title">App Design</h2>
                <p class="services-description">Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
              </li>
              <li> <img src="./img/design_icon.png" alt="design-icon"/>
                <h2 class="services-title">Logo Design</h2>
                <p class="services-description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
              </li>
            </ul>
          </div>
        </section>
        <div class="top-news-letter">
          <div class="wrapper">
            <form class="letter-form-wrapper" method="POST"> 
              <input class="form-input" type="text" placeholder="Enter Your email adress for newsletter">
              <button class="trans button-primary subcribe-button">Subcribe</button>
            </form>
          </div>
        </div>
        <section class="section-our-works">
          <div class="wrapper">
            <h2 class="title-primary works-title">Our <span>Works</span></h2>
            <p class="description-primary works-description">Ut enim ad minim veniam, quis nostrud exercitation ullamco <br/>laboris nisi ut aliquip ex ea commodo consequat</p>
            <ul class="works-wrapper">
              <li> <img src="./img/imac_img.jpg" alt="iMac"/>
                <div class="overlay">
                  <h3 class="overlay-title">ABAZOO WEBSITE </h3>
                  <p class="overlay-description">Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p><a class="trans button-primary overlay-button" href="#">Show Project </a>
                </div>
              </li>
              <li> <img src="./img/office_img.jpg" alt="office"/>
                <div class="overlay">
                  <h3 class="overlay-title">ABAZOO WEBSITE </h3>
                  <p class="overlay-description">Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p><a class="trans button-primary overlay-button" href="#">Show Project </a>
                </div>
              </li>
              <li> <img src="./img/business_img.jpg" alt="business"/>
                <div class="overlay">
                  <h3 class="overlay-title">ABAZOO WEBSITE </h3>
                  <p class="overlay-description">Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p><a class="trans button-primary overlay-button" href="#">Show Project </a>
                </div>
              </li>
              <li> <img src="./img/ipad_img.jpg" alt="ipad"/>
                <div class="overlay">
                  <h3 class="overlay-title">ABAZOO WEBSITE </h3>
                  <p class="overlay-description">Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p><a class="trans button-primary overlay-button" href="#">Show Project </a>
                </div>
              </li>
              <li> <img src="./img/technology_img.jpg" alt="technology"/>
                <div class="overlay">
                  <h3 class="overlay-title">ABAZOO WEBSITE </h3>
                  <p class="overlay-description">Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p><a class="trans button-primary overlay-button" href="#">Show Project </a>
                </div>
              </li>
              <li> <img src="./img/macbook_img.jpg" alt="macbook"/>
                <div class="overlay">
                  <h3 class="overlay-title">ABAZOO WEBSITE </h3>
                  <p class="overlay-description">Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p><a class="trans button-primary overlay-button" href="#">Show Project </a>
                </div>
              </li>
            </ul><a class="trans button-primary work-button" href="#">Show More </a>
          </div>
        </section>
        <div class="top-photo"> 
          <div class="wrapper">
            <div class="photo-wrapper"><img src="./img/photo_avatar.jpg" alt="photo-avatar">
              <p class="photo-title">These guys are incredible! I get my project in 10 days and it was awesome! Very good service! Highly recommended!</p>
              <p class="photo-author">John Smith</p>
            </div>
          </div>
        </div>
        <section class="section-our-team">
          <div class="wrapper">
            <h2 class="title-primary team-title">Our <span>Team</span></h2>
            <p class="description-primary team-description">Sed ut perspiciatis unde omnis iste natus error sit <br/>voluptatem accusantium doloremque laudantium totam rem</p>
            <ul class="team-wrapper">
              <li class="team-item"><a class="item-link" href="#"><img src="./img/team_avatar_1.jpg" alt="team-1"/></a>
                <h3 class="item-title">Catherina Gail</h3>
                <ul class="social-list">
                  <li class="social-item"><a class="trans social-link" href="#"><img src="./img/facebook_icon.png" alt="facebook-icon"/></a></li>
                  <li class="social-item"><a class="trans social-link" href="#"><img src="./img/twitter_icon.png" alt="twitter-icon"/></a></li>
                  <li class="social-item"><a class="trans social-link" href="#"><img src="./img/google_icon.png" alt="google-icon"/></a></li>
                </ul>
                <p class="item-description">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
              </li>
              <li class="team-item"><a class="item-link" href="#"><img src="./img/team_avatar_2.jpg" alt="team-2"/></a>
                <h3 class="item-title">Harvey Rube</h3>
                <ul class="social-list">
                  <li class="social-item"><a class="trans social-link" href="#"><img src="./img/facebook_icon.png" alt="facebook-icon"/></a></li>
                  <li class="social-item"><a class="trans social-link" href="#"><img src="./img/twitter_icon.png" alt="twitter-icon"/></a></li>
                  <li class="social-item"><a class="trans social-link" href="#"><img src="./img/google_icon.png" alt="google-icon"/></a></li>
                </ul>
                <p class="item-description">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut</p>
              </li>
              <li class="team-item"><a class="item-link" href="#"><img src="./img/team_avatar_3.jpg" alt="team-3"/></a>
                <h3 class="item-title">Janet Pris</h3>
                <ul class="social-list">
                  <li class="social-item"><a class="trans social-link" href="#"><img src="./img/facebook_icon.png" alt="facebook-icon"/></a></li>
                  <li class="social-item"><a class="trans social-link" href="#"><img src="./img/twitter_icon.png" alt="twitter-icon"/></a></li>
                  <li class="social-item"><a class="trans social-link" href="#"><img src="./img/google_icon.png" alt="google-icon"/></a></li>
                </ul>
                <p class="item-description">Commodo consequat. Duis aute irure dolor in reprehenderit in voluptate</p>
              </li>
              <li class="team-item"><a class="item-link" href="#"><img src="./img/team_avatar_4.jpg" alt="team-4"/></a>
                <h3 class="item-title">Kevin Ward</h3>
                <ul class="social-list">
                  <li class="social-item"><a class="trans social-link" href="#"><img src="./img/facebook_icon.png" alt="facebook-icon"/></a></li>
                  <li class="social-item"><a class="trans social-link" href="#"><img src="./img/twitter_icon.png" alt="twitter-icon"/></a></li>
                  <li class="social-item"><a class="trans social-link" href="#"><img src="./img/google_icon.png" alt="google-icon"/></a></li>
                </ul>
                <p class="item-description">Velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat</p>
              </li>
            </ul>
            <ul class="slick-dot">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </section>
        <section class="section-contact">
          <div class="wrapper">
            <h2 class="title-primary contact-title">Say<span> Hello</span></h2>
            <p class="description-primary contact-description">Excepteur sint occaecat cupidatat non proident, sunt in culpa<br/>qui officia deserunt mollit anim id est laborum</p>
            <form class="form-wrapper" method="POST">
              <input class="contact-input" type="text" placeholder="Your Email">
              <input class="contact-input" type="text" placeholder="Subject">
              <textarea class="contact-message" cols="30" rows="7">Your Message</textarea>
              <div class="action-wrapper"> 
                <button class="trans button-primary submit-button">Hire Us</button>
                <ul class="contact-social-wrapper"> 
                  <li class="social-item"><a class="trans social-link" href="#"><img src="./img/facebook_large_icon.png" alt="facebook-icon"/></a></li>
                  <li class="social-item"><a class="trans social-link" href="#"><img src="./img/twitter_large_icon.png" alt="twitter-icon"/></a></li>
                  <li class="social-item"><a class="trans social-link" href="#"><img src="./img/google_large_icon.png" alt="google-icon"/></a></li>
                  <li class="social-item"><a class="trans social-link" href="#"><img src="./img/earth_large_icon.png" alt="earth-icon"/></a></li>
                  <li class="social-item"><a class="trans social-link" href="#"><img src="./img/be_large_icon.png" alt="be-icon"/></a></li>
                </ul>
              </div>
            </form>
          </div>
        </section>
      </main>
      <footer>
        <div class="wrapper">
          <div class="footer-wrapper">
            <div class="copyright"><small>© 2015 COPYRIGHT DESIGN STUDIO</small></div>
            <p class="footer-author">Designed by <img src="./img/logo_footer.png" alt="symu-co"></p>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>

dist/index.pug
mixin link(href, name)
  a(class!=attributes.class href=href)= name
mixin services-item(img, alt, title, desc)
  li 
    img(src=img, alt=alt)
    h2.services-title=title
    p.services-description=desc
mixin our-work-item(img, alt)
  li 
    img(src=img, alt=alt)
    .overlay
      h3.overlay-title ABAZOO WEBSITE 
      p.overlay-description Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      a(href="#" class="trans button-primary overlay-button") Show Project 
mixin team-item(img, alt, title, desc)
  - var list = ["./img/facebook_icon.png", "./img/twitter_icon.png", "./img/google_icon.png"]
  - var listAlt = ["facebook-icon", "twitter-icon", "google-icon"]
  li.team-item
    a(href="#" class="item-link")
      img(src=img, alt=alt) 
    h3.item-title=title
    ul.social-list
      - for (var i = 0; i < 3; i++)
          li.social-item
            a(href="#", class="trans social-link")
              img(src=list[i], alt=listAlt[i])
    p.item-description=desc
mixin social-item(img, alt)
  - var list = ["./img/facebook_large_icon.png", "./img/twitter_large_icon.png", "./img/google_large_icon.png", "./img/earth_large_icon.png", "./img/be_large_icon.png"]
  - var listAlt = ["facebook-icon", "twitter-icon", "google-icon", "earth-icon", "be-icon"]
  - for (var i = 0; i < 5; i++) 
    li.social-item
      a(href="#", class="trans social-link")
        img(src=list[i], alt=listAlt[i]) 
doctype html
html(lang="en")
  head 
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,400&display=swap")
    link(rel="stylesheet", href="./css/main.css")
    title SAMPLE 02
  body
    .container 
      header 
        .wrapper 
          .header-wrapper
            a(href="#" class="trans header-logo")
              img(src="./img/logo.png", alt="tanatos-studio")
            .menu-wrapper
              p.menu-label Menu 
              a(href="#" class="menu-bar")
                img(src="./img/nav_icon.png", alt="navbar-icon")
      main
        section.section-banner
          .wrapper
            .banner-content 
              h1.banner-title We Design 
                span Things
              p.banner-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                br/ sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
              .banner-button
                a(href="#" class="trans button-primary hire-button") Hire Us
                a(href="#" class="trans button-primary works-button") Our Works
              a(href="#" class="trans arrow-down-icon") 
                img(src="./img/cicle_arrow_down_icon.png", alt="arrow-down-icon")
        section.section-our-services
          .wrapper
            ul.services-wrapper
              +services-item('./img/print_icon.jpg', 'print-icon', 'Print Design', 'Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia')
              +services-item('./img/computer_icon.png', 'computer-icon', 'Web Design', 'Incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam')
              +services-item('./img/tablet_icon.png', 'tablet-icon', 'App Design', 'Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo')
              +services-item('./img/design_icon.png', 'design-icon', 'Logo Design', 'Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu')
        div.top-news-letter
          .wrapper
            form.letter-form-wrapper(method="POST") 
              input(type="text" class="form-input" placeholder="Enter Your email adress for newsletter")
              button.trans.button-primary.subcribe-button Subcribe
        section.section-our-works
          .wrapper
            h2.title-primary.works-title Our 
              span Works
            p.description-primary.works-description Ut enim ad minim veniam, quis nostrud exercitation ullamco 
              br/ laboris nisi ut aliquip ex ea commodo consequat
            ul.works-wrapper
              +our-work-item('./img/imac_img.jpg', 'iMac')
              +our-work-item('./img/office_img.jpg', 'office')
              +our-work-item('./img/business_img.jpg', 'business')
              +our-work-item('./img/ipad_img.jpg', 'ipad')
              +our-work-item('./img/technology_img.jpg', 'technology')
              +our-work-item('./img/macbook_img.jpg', 'macbook')
            a(href="#" class="trans button-primary work-button") Show More 
        div.top-photo 
          .wrapper
            .photo-wrapper
              img(src="./img/photo_avatar.jpg", alt="photo-avatar")
              p.photo-title These guys are incredible! I get my project in 10 days and it was awesome! Very good service! Highly recommended!
              p.photo-author John Smith
        section.section-our-team
          .wrapper
            h2.title-primary.team-title Our 
              span Team
            p.description-primary.team-description Sed ut perspiciatis unde omnis iste natus error sit 
              br/ voluptatem accusantium doloremque laudantium totam rem
            ul.team-wrapper
              +team-item('./img/team_avatar_1.jpg', 'team-1', 'Catherina Gail', 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris')
              +team-item('./img/team_avatar_2.jpg', 'team-2', 'Harvey Rube', 'Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut')
              +team-item('./img/team_avatar_3.jpg', 'team-3', 'Janet Pris', 'Commodo consequat. Duis aute irure dolor in reprehenderit in voluptate')
              +team-item('./img/team_avatar_4.jpg', 'team-4', 'Kevin Ward', 'Velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat')
            ul.slick-dot
              - for (var i = 0; i < 4; i++) 
                li
        section.section-contact
          .wrapper
            h2.title-primary.contact-title Say
              span  Hello
            p.description-primary.contact-description Excepteur sint occaecat cupidatat non proident, sunt in culpa
              br/ qui officia deserunt mollit anim id est laborum
            form.form-wrapper(method = "POST")
              input(type="text" placeholder="Your Email" class="contact-input")
              input(type="text" placeholder="Subject" class="contact-input")
              textarea(cols="30", rows="7" class="contact-message") Your Message
              .action-wrapper 
                button.trans.button-primary.submit-button Hire Us
                ul.contact-social-wrapper 
                  +social-item()
      footer
        .wrapper
          .footer-wrapper
            .copyright
              small © 2015 COPYRIGHT DESIGN STUDIO
            p.footer-author Designed by 
              img(src="./img/logo_footer.png", alt="symu-co")
            
   
